Sources/BadgeKeeper/.vs
Sources/BadgeKeeper/bin
Sources/BadgeKeeper/obj
Sources/BadgeKeeper/csx
Sources/BadgeKeeper/rcf
Sources/BadgeKeeper.Sample/BadgeKeeper.Sample.Windows/.vs
Sources/BadgeKeeper.Sample/BadgeKeeper.Sample.Windows/bin
Sources/BadgeKeeper.Sample/BadgeKeeper.Sample.Windows/obj
Sources/BadgeKeeper.Sample/BadgeKeeper.Sample.Windows/csx
Sources/BadgeKeeper.Sample/BadgeKeeper.Sample.Windows/rcf
Sources/BadgeKeeper.Sample/BadgeKeeper.Sample.WindowsPhone/.vs
Sources/BadgeKeeper.Sample/BadgeKeeper.Sample.WindowsPhone/bin
Sources/BadgeKeeper.Sample/BadgeKeeper.Sample.WindowsPhone/obj
Sources/BadgeKeeper.Sample/BadgeKeeper.Sample.WindowsPhone/csx
Sources/BadgeKeeper.Sample/BadgeKeeper.Sample.WindowsPhone/rcf
Build/runbuild.txt
Working/
packages/
*.dbmdl
*.log
*.v12.suo
*.ccproj.user
*.csproj.user
*.sqlproj.user
*.sdf
*.tlog
*.idb
*.opensdf
*.exp
*.nupkg